In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
#Importe o arquivo formato xlsx
limite = pd.read_excel("Limite_Credito_Dummy.xlsx")
limite.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,Escolaridade,Gênero,Região,LimitedoChequeEspecial
0,70,10736,5214,400,Fundamental_Medio,RJ,F,500
1,68,5000,5000,380,Fundamental_Medio,RJ,F,600
2,44,5800,5800,500,Fundamental_Medio,RJ,F,800
3,72,4300,4300,2000,Fundamental_Medio,RJ,F,1000
4,75,4400,4400,3000,Fundamental_Medio,RJ,F,1000

In [9]:
limite.corr()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial
Idade,1.000000,0.239445,0.213186,0.057183,0.228117
RendimentoTotal,0.239445,1.000000,0.960551,0.031041,0.858120
Salario,0.213186,0.960551,1.000000,0.081792,0.888839
LimitedeCreditoImediato,0.057183,0.031041,0.081792,1.000000,0.226990
LimitedoChequeEspecial,0.228117,0.858120,0.888839,0.226990,1.000000

In [10]:
limite = pd.get_dummies(data=limite, columns=['Escolaridade', 'Gênero',"Região"], prefix = ['Escolaridade', 'Região',"Gênero"])

In [11]:
limite.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos,Região_RJ,Região_SP,Gênero_F,Gênero_M
0,70,10736,5214,400,500,1,0,1,0,1,0
1,68,5000,5000,380,600,1,0,1,0,1,0
2,44,5800,5800,500,800,1,0,1,0,1,0
3,72,4300,4300,2000,1000,1,0,1,0,1,0
4,75,4400,4400,3000,1000,1,0,1,0,1,0

In [12]:
limite.corr()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos,Região_RJ,Região_SP,Gênero_F,Gênero_M
Idade,1.000000,0.239445,0.213186,0.057183,0.228117,-0.150088,0.150088,-0.196052,0.196052,-0.121217,0.121217
RendimentoTotal,0.239445,1.000000,0.960551,0.031041,0.858120,-0.396191,0.396191,-0.177798,0.177798,-0.406241,0.406241
Salario,0.213186,0.960551,1.000000,0.081792,0.888839,-0.475479,0.475479,-0.242621,0.242621,-0.424335,0.424335
LimitedeCreditoImediato,0.057183,0.031041,0.081792,1.000000,0.226990,-0.259433,0.259433,-0.001145,0.001145,-0.473326,0.473326
LimitedoChequeEspecial,0.228117,0.858120,0.888839,0.226990,1.000000,-0.598310,0.598310,-0.312566,0.312566,-0.591779,0.591779
Escolaridade_Fundamental_Medio,-0.150088,-0.396191,-0.475479,-0.259433,-0.598310,1.000000,-1.000000,0.237508,-0.237508,0.602464,-0.602464
Escolaridade_Superior_Pos,0.150088,0.396191,0.475479,0.259433,0.598310,-1.000000,1.000000,-0.237508,0.237508,-0.602464,0.602464
Região_RJ,-0.196052,-0.177798,-0.242621,-0.001145,-0.312566,0.237508,-0.237508,1.000000,-1.000000,-0.167248,0.167248
Região_SP,0.196052,0.177798,0.242621,0.001145,0.312566,-0.237508,0.237508,-1.000000,1.000000,0.167248,-0.167248
Gênero_F,-0.121217,-0.406241,-0.424335,-0.473326,-0.591779,0.602464,-0.602464,-0.167248,0.167248,1.000000,-1.000000
Gênero_M,0.121217,0.406241,0.424335,0.473326,0.591779,-0.602464,0.602464,0.167248,-0.167248,-1.000000,1.000000

In [13]:
import statsmodels.formula.api as smf

In [14]:
#modelo MRLS
function = 'LimitedoChequeEspecial~Idade+RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos+Região_RJ+Região_SP+Gênero_F+Gênero_M'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.886
Model:                                OLS   Adj. R-squared:                  0.865
Method:                     Least Squares   F-statistic:                     44.20
Date:                    Sun, 09 Oct 2022   Prob (F-statistic):           7.44e-17
Time:                            13:41:53   Log-Likelihood:                -434.21
No. Observations:                      48   AIC:                             884.4
Df Residuals:                          40   BIC:                             899.4
Df Model:                               7
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                        398.6632    705.403      0.565      0.575   -1027.009    1824.335
Idade                             -4.9864     22.665     -0.220      0.827     -50.793      40.820
RendimentoTotal                    0.1354      0.101      1.336      0.189      -0.069       0.340
Salario                            0.2799      0.142      1.977      0.055      -0.006       0.566
LimitedeCreditoImediato            0.2439      0.414      0.589      0.559      -0.593       1.081
Escolaridade_Fundamental_Medio  -223.4354    572.451     -0.390      0.698   -1380.402     933.531
Escolaridade_Superior_Pos        622.0986    629.942      0.988      0.329    -651.062    1895.259
Região_RJ                       -967.2953    445.962     -2.169      0.036   -1868.619     -65.972
Região_SP                       1365.9585    598.088      2.284      0.028     157.177    2574.740
Gênero_F                       -1456.4227    533.381     -2.731      0.009   -2534.425    -378.420
Gênero_M                        1855.0859    718.221      2.583      0.014     403.507    3306.665
==============================================================================
Omnibus:                       15.742   Durbin-Watson:                   1.724
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.550
Skew:                          -0.679   Prob(JB):                     9.50e-10
Kurtosis:                       7.351   Cond. No.                     5.34e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.44e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [15]:
#modelo MRLS
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos+Região_RJ+Região_SP+Gênero_F+Gênero_M'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.885
Model:                                OLS   Adj. R-squared:                  0.869
Method:                     Least Squares   F-statistic:                     52.78
Date:                    Sun, 09 Oct 2022   Prob (F-statistic):           9.97e-18
Time:                            13:42:17   Log-Likelihood:                -434.24
No. Observations:                      48   AIC:                             882.5
Df Residuals:                          41   BIC:                             895.6
Df Model:                               6
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                        279.5417    446.865      0.626      0.535    -622.921    1182.004
RendimentoTotal                    0.1315      0.099      1.334      0.190      -0.068       0.331
Salario                            0.2840      0.139      2.048      0.047       0.004       0.564
LimitedeCreditoImediato            0.2410      0.409      0.589      0.559      -0.585       1.067
Escolaridade_Fundamental_Medio  -280.4080    504.571     -0.556      0.581   -1299.409     738.593
Escolaridade_Superior_Pos        559.9498    556.481      1.006      0.320    -563.887    1683.786
Região_RJ                      -1011.0898    394.413     -2.564      0.014   -1807.623    -214.557
Região_SP                       1290.6315    484.666      2.663      0.011     311.828    2269.435
Gênero_F                       -1510.5634    467.696     -3.230      0.002   -2455.094    -566.033
Gênero_M                        1790.1052    647.038      2.767      0.008     483.386    3096.825
==============================================================================
Omnibus:                       15.771   Durbin-Watson:                   1.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.413
Skew:                          -0.684   Prob(JB):                     1.02e-09
Kurtosis:                       7.340   Cond. No.                     2.58e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.6e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [16]:
#modelo MRLS
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Superior_Pos+Região_RJ+Região_SP+Gênero_F+Gênero_M'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.885
Model:                                OLS   Adj. R-squared:                  0.869
Method:                     Least Squares   F-statistic:                     52.78
Date:                    Sun, 09 Oct 2022   Prob (F-statistic):           9.97e-18
Time:                            13:42:42   Log-Likelihood:                -434.24
No. Observations:                      48   AIC:                             882.5
Df Residuals:                          41   BIC:                             895.6
Df Model:                               6
Covariance Type:                nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                   139.3377    579.345      0.241      0.811   -1030.673    1309.349
RendimentoTotal               0.1315      0.099      1.334      0.190      -0.068       0.331
Salario                       0.2840      0.139      2.048      0.047       0.004       0.564
LimitedeCreditoImediato       0.2410      0.409      0.589      0.559      -0.585       1.067
Escolaridade_Superior_Pos   840.3578    963.762      0.872      0.388   -1105.999    2786.715
Região_RJ                 -1081.1918    386.454     -2.798      0.008   -1861.651    -300.732
Região_SP                  1220.5295    555.961      2.195      0.034      97.744    2343.315
Gênero_F                  -1580.6654    398.071     -3.971      0.000   -2384.585    -776.745
Gênero_M                   1720.0031    739.536      2.326      0.025     226.480    3213.526
==============================================================================
Omnibus:                       15.771   Durbin-Watson:                   1.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.413
Skew:                          -0.684   Prob(JB):                     1.02e-09
Kurtosis:                       7.340   Cond. No.                     2.92e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.81e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [17]:
#modelo MRLS
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+Escolaridade_Superior_Pos+Região_RJ+Região_SP+Gênero_F+Gênero_M'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.884
Model:                                OLS   Adj. R-squared:                  0.871
Method:                     Least Squares   F-statistic:                     64.26
Date:                    Sun, 09 Oct 2022   Prob (F-statistic):           1.39e-18
Time:                            13:42:59   Log-Likelihood:                -434.44
No. Observations:                      48   AIC:                             880.9
Df Residuals:                          42   BIC:                             892.1
Df Model:                               5
Covariance Type:                nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                   426.7480    309.988      1.377      0.176    -198.834    1052.330
RendimentoTotal               0.1210      0.096      1.257      0.216      -0.073       0.315
Salario                       0.2937      0.137      2.149      0.037       0.018       0.569
Escolaridade_Superior_Pos   788.0449    952.173      0.828      0.413   -1133.519    2709.608
Região_RJ                  -969.5667    334.183     -2.901      0.006   -1643.975    -295.158
Região_SP                  1396.3147    465.435      3.000      0.005     457.028    2335.601
Gênero_F                  -1579.3241    394.958     -3.999      0.000   -2376.381    -782.267
Gênero_M                   2006.0722    553.410      3.625      0.001     889.245    3122.899
==============================================================================
Omnibus:                       18.013   Durbin-Watson:                   1.737
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.309
Skew:                          -0.774   Prob(JB):                     2.66e-12
Kurtosis:                       7.925   Cond. No.                     3.30e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.2e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [18]:
#modelo MRLS
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Região_RJ+Região_SP+Gênero_F+Gênero_M'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.883
Model:                                OLS   Adj. R-squared:                  0.869
Method:                     Least Squares   F-statistic:                     63.55
Date:                    Sun, 09 Oct 2022   Prob (F-statistic):           1.71e-18
Time:                            13:43:12   Log-Likelihood:                -434.68
No. Observations:                      48   AIC:                             881.4
Df Residuals:                          42   BIC:                             892.6
Df Model:                               5
Covariance Type:                nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                 287.1361    552.411      0.520      0.606    -827.675    1401.947
RendimentoTotal             0.1111      0.096      1.164      0.251      -0.082       0.304
Salario                     0.3174      0.133      2.387      0.022       0.049       0.586
LimitedeCreditoImediato     0.2081      0.406      0.512      0.611      -0.612       1.028
Região_RJ               -1116.8947    383.181     -2.915      0.006   -1890.184    -343.605
Região_SP                1404.0307    513.121      2.736      0.009     368.511    2439.550
Gênero_F                -1757.4783    341.573     -5.145      0.000   -2446.800   -1068.157
Gênero_M                 2044.6144    637.174      3.209      0.003     758.745    3330.484
==============================================================================
Omnibus:                       19.370   Durbin-Watson:                   1.623
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.512
Skew:                          -0.904   Prob(JB):                     2.40e-12
Kurtosis:                       7.847   Cond. No.                     6.22e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.22e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [19]:
#modelo MRLS
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+Região_RJ+Região_SP+Gênero_F+Gênero_M'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.883
Model:                                OLS   Adj. R-squared:                  0.872
Method:                     Least Squares   F-statistic:                     80.75
Date:                    Sun, 09 Oct 2022   Prob (F-statistic):           2.02e-19
Time:                            13:43:28   Log-Likelihood:                -434.83
No. Observations:                      48   AIC:                             879.7
Df Residuals:                          43   BIC:                             889.0
Df Model:                               4
Covariance Type:                nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         529.4600    283.019      1.871      0.068     -41.303    1100.223
RendimentoTotal     0.1031      0.093      1.103      0.276      -0.085       0.291
Salario             0.3239      0.131      2.469      0.018       0.059       0.588
Região_RJ       -1017.7320    327.869     -3.104      0.003   -1678.943    -356.521
Região_SP        1547.1921    426.676      3.626      0.001     686.717    2407.667
Gênero_F        -1746.7230    337.991     -5.168      0.000   -2428.347   -1065.099
Gênero_M         2276.1831    445.290      5.112      0.000    1378.169    3174.197
==============================================================================
Omnibus:                       21.294   Durbin-Watson:                   1.615
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               65.346
Skew:                          -0.973   Prob(JB):                     6.46e-15
Kurtosis:                       8.374   Cond. No.                     5.29e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.53e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [21]:
#modelo MRLS
function = 'LimitedoChequeEspecial~Salario+Região_RJ+Região_SP+Gênero_F+Gênero_M - 1'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.879
Model:                                OLS   Adj. R-squared:                  0.871
Method:                     Least Squares   F-statistic:                     106.7
Date:                    Sun, 09 Oct 2022   Prob (F-statistic):           3.24e-20
Time:                            13:43:55   Log-Likelihood:                -435.50
No. Observations:                      48   AIC:                             879.0
Df Residuals:                          44   BIC:                             886.5
Df Model:                               3
Covariance Type:                nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Salario        0.4616      0.041     11.367      0.000       0.380       0.543
Região_RJ   -762.7325    361.748     -2.108      0.041   -1491.788     -33.677
Região_SP   1633.0786    504.366      3.238      0.002     616.596    2649.561
Gênero_F   -1546.3828    359.891     -4.297      0.000   -2271.696    -821.070
Gênero_M    2416.7289    537.714      4.494      0.000    1333.037    3500.421
==============================================================================
Omnibus:                       11.932   Durbin-Watson:                   1.646
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               29.897
Skew:                          -0.402   Prob(JB):                     3.22e-07
Kurtosis:                       6.782   Cond. No.                     1.76e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.02e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.